body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Сетка для глаавной*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-dark {
  width: 100%;
  min-height: 42px;

  margin-bottom: 46px;

  background-color: #293449;
}

.container-light {
  width: 100%;

  background-color: #f3f7f8;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-navigation-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-links {
  margin-left: auto;
}

.page-title-index,
.header-title {
  width: 200px;
  margin: 0;
  padding: 0;
  margin: 3px 70px 40px 53px;
}

.header-contacts {
  margin: 0;
  padding: 0;
}



.container-light-blue {
  width: 100%;

  background-color: #32425c;
}

.container-dark-blue {
  width: 100%;

  background-color: #293449;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  padding: 21px 41px;
  margin-bottom: 21px;
  border-bottom: 5px solid #b52933;
}

p.footer-contacts {
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.menu-footer-navigation-white {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 34px;
}

ul.menu-footer-navigation-yellow {
  width: 527px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
  padding-bottom: 34px;
}

p.footer-copyright-company {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 150px;
}

ul.footer-social {
  width: 131px;
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

p.footer-email-adress {
  width: 140px;
  margin: 0;
  padding: 0;
}

p.footer-copyright-htmlacademy {
  width: 111px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}








/*Стили header*/

.main-header {
  background-color: #f3f7f9;
}

header.main {
  margin-bottom: 59px;
}

header.inner {
  margin-bottom: 21px;
}

.header-navigation-top,
.menu-header-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-navigation-top a {
  color: #ffffff;
  background-color: #293449;
}

.header-navigation-top a:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.header-navigation-top a:focus {
  color: #8b8e94;
  background-color: #161d29;
}

a.header-logo {
  position: absolute;
  padding: 13px 55px 7px 55px;
  top: 0px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

a.header-logo-main:hover,
a.header-logo-main:focus {
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

a.header-logo-inner:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

a.header-logo-inner:focus {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

form.search {
  position: relative;
  width: 268px;
  height: 42px;

  margin-left: 221px;
}

.search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.search svg:hover {
  opacity: 1;
}

input[type=search]:hover + svg {
  opacity: 1;
}

input[type=search]:focus~svg>path {
  fill: #ee3643;
}

input[type=search] {
  width: 268px;
  height: 42px;
  padding-left: 49px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
   }

input[type="search"]::-moz-placeholder {
    color: #ffffff;
   }

input[type=search]:hover {
  background-color: #212a3a;

  /*color: #ffffff;
  border: none;
  cursor: pointer;*/
}

input[type=search]:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;

  /*border: none;
  cursor: pointer;*/
}

.search .button {
  display: none;
}

.top-navigation a {
  display: block;

  vertical-align: middle;
  color: #ffffff;
}

.wrapper-links a {
  float: left;
  padding: 12px 20px;
}

a.bookmarks-link {
  position: relative;
  padding-left: 44px;
  padding-right: 28px;
}

.bookmarks-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

a.cart-link {
  position: relative;
  padding-left: 50px;
  padding-right: 28px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks-link:hover::before,
.cart-link:hover::before,
.search:hover::before {
  opacity: 1;
}

.bookmarks-link:focus::before,
.cart-link:focus::before {
  opacity: 0.5;
}

a.button-green {
  background-color: #63a63e;
}

a.button-green:hover {
  background-color: #5fbb2d;
}

a.button-green:focus {
  color: #b6c8ae;
  background-color: #518534;
}

a.cart-active-red {
  background-color: #ee3643;
}

a.cart-active-red:hover {
  background-color: #ca2c37;
}

a.cart-active-red:focus {
  color: #b6c8ae;
  background-color: #ba2732;
}

.page-title-index,
.header-title,
.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;

  background-color: #f3f7f8;
}

.phone {
  display: block;
  position: relative;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 9px 50px 9px 70px;
  margin-bottom: 4px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;
  width: 18px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.login-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.login-navigation,
.menu-header-navigation {
  list-style: none;
}

.login-navigation a,
a.user-profile {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 25px;
  color: #000000;
  background-color: #ffffff;
}

a.sign-in-link {
  position: relative;
  padding-left: 48px;
  margin-right: 10px;
}

.sign-in-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-in-link:hover::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-navigation a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

p.user-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 299px;
  margin-bottom: 8px;

  background-color: white;
}

.user-field,
.user-links {
  margin: 0;
  padding: 0;
}

.user {
  margin-left: auto;
}

a.user-profile:hover {
  color: #000000;
  background-color: #ffffff;
}

.login-navigation a:focus,
a.user-profile:focus {
  color: #c5c5c5;
  background-color: #ffffff;
}

a.user-profile {
  position: relative;
  padding-left: 47px;
  padding-right: 15px;
}

.user-profile::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:hover::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-profile:focus::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.deauthorization {
  width: 21px;
  height: 17px;
  padding: 14px 10px;
  background-color: white;
}

a.deauthorization:hover path {
  fill: #32425c;
}

a.deauthorization:focus path {
  fill: #c5c5c5;
}

.user-links {
  position: relative;
  padding-left: 18px;
}

.user-links::before {
  content: "";

  position: absolute;
  left: 108px;
  top: 9px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-links a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-decoration: underline;

  background-color: #f3f7f8;
}

.user-links a:nth-child(2) {
  margin-left: 32px;
}

.user-links a:hover {
  color: #ee3643;
  background-color: #f1f5f7;
}

.user-links a:focus {
  color: #cacfd5;
  background-color: #f1f5f7;
}

ul.menu-header-navigation {
  line-height: 17px;
}

.menu-header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 60px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.menu-header-navigation a {
  display: block;
  padding: 0;
  margin: 0;
  padding: 19px 30px 19px 31px;

  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
}

.menu-header-navigation li:nth-child(1) > a {
  padding-left: 52px;
}

.menu-header-navigation li:nth-child(7) > a {
  padding-right: 52px;
}

.menu-header-navigation a:hover {
  background-color: #293449;
}

.menu-header-navigation a:focus {
  color: #8b8e94;
  background-color: #1d2739;
}


/*Стили main*/

/*Главная*/

.special-offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.special-offers-item .flag {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.special-offers-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.special-offers-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 300px;
  margin-bottom: 20px;
}

.special-offers-headline {
  margin-top: 22px;
  margin-bottom: 11px;
  margin-left: 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

a.special-offers-button {
  width: 135px;
  padding: 10px 0px;
  margin-bottom: 22px;
  margin-left: 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

a.special-offers-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

a.special-offers-button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials-item {
  background-color: #ffbf47;
}

.materials-item::before {
  content: "";

  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool-item {
  background-color: #3bbce3;
}

.tool-item::before {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tech-item {
  background-color: #dc91d8;
}

.tech-item::before {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discounts-item {
  background-color: #8ed78f;
}

.discounts-item::before {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery-item {
  background-color: #ffc047;
}

.delivery-item::before {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.float-items {
  float: right;
}

.slider {
  position: relative;
  width: 620px;
  margin-bottom: 53px;
}

.slider-arrow {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.slider-arrow-back {
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-arrow-forward {
  top: 114px;
  right: 25px;
  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  top: 215px;
  z-index: 100;

  width: 160px;
  height: 10px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding-bottom: 22px;
}

.slider-item:nth-child(2) {
  display: block;
}

.slider-item img {
  position: absolute;
  z-index: -1;

  top: 0px;
  left: 0px;

  width: 620px;
  height: 266px;
}

ul.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 25px;
  margin-bottom: 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item p {
  max-width: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  padding-left: 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.slider-item a {
  display: block;
  width: 195px;

  margin-left: 25px;
}


/*Популярные товары*/

.popular-goods {
  margin-bottom: 21px;
}

.popular-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-title-wrap h2 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.popular-button {
  display: block;
  width: 253px;
  margin: 25px 24px 26px auto;
}

ul.popular-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-goods-list li.catalog-item {
  margin: 0;
  padding: 0;
}

.popular-goods-list li.catalog-item:nth-child(3) .flag-new {
  background: none;
}

.popular-goods-list li.catalog-item:nth-child(4) .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

/*Популярные производители*/

.popular-manufacturers {
  margin-bottom: 65px;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0px;
}

.manufacturers-item a {
  line-height: 0px;

  display: block;
  width: 218px;
  min-height: 143px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturers-item a:hover {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-item a:focus {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacturers-item a:focus::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  width: 218px;
  height: 143px;

  background-color: #ffffff;
  opacity: 0.7;
}

.logo-bosch {
  padding-top: 52px;
  padding-left: 46px;
}

.logo-makita {
  padding-top: 49px;
  padding-left: 47px;
}

.logo-dewalt {
  padding-top: 47px;
  padding-left: 36px;
}

.logo-interskol {
  padding-top: 20px;
  padding-left: 8px;
}

.logo-hitachi {
  padding-top: 57px;
  padding-left: 27px;
}

.logo-lg {
  padding-top: 34px;
  padding-left: 47px;
}

.logo-aeg {
  padding-top: 22px;
  padding-left: 34px;
}

.logo-metabo {
  padding-top: 33px;
  padding-left: 9px;
}

/*Сервисы*/

.services-wrap {
  width: 100%;

  background-color: #f4f8f9;
}

.slider-services {
  margin-bottom: 79px;
}

.slider-services h2 {
  padding-top: 65px;
}

.slider-services p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 26px;
}

p.services-paragraph {
  width: 400px;
  margin-bottom: 69px;
}

.slider-services-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-services ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider-services-controls {
  position: relative;
  margin-bottom: 98px;
}

ul.slider-services-controls::before {
  content: "";

  position: absolute;
  top: -43px;
  left: 230px;
  width: 10px;
  height: 272px;

  background-image: url("../img/border-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-services-button {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;

  color: #ffffff;
  background-color: #32425c;

  cursor: pointer;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #2b364a;
}

.slider-services-button:hover {
  background-color: #293449;
}

.slider-services-button:focus,
.slider-services-button:active {
  color: #32425c;
  background-color: #ffffff;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.slider-services-controls .current,
.slider-services-controls .current:hover,
.slider-services-controls .current:focus {
  color: #32425c;
  background-color: #ffffff;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

ul.slider-services-list {
  margin-left: 80px;
}

.slider-services-list h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
}

p.services-delivery {
  width: 278px;
}

p.services-guarantee {
  width: 379px;
}

p.services-credit {
  width: 300px;
}

.services-credit-button {
  display: block;
  width: 195px;
}

.slider-services-item {
  position: relative;
}

.delivery-service::before {
  content: "";

  position: absolute;
  top: 23px;
  left: 150px;
  width: 468px;
  height: 261px;

  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.guarantee-service::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 240px;
  width: 389px;
  height: 283px;

  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit-service::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 166px;
  width: 465px;
  height: 285px;

  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-services-item {
  display: none;
}

.slider-services-item:nth-child(1) {
  display: block;
}


/*Компания Контакты*/

.container-company {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 85px;
  min-height: 370px;
}

h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.container-company p {
  padding: 0;
  margin: 0;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
}

.company p:nth-child(1) {
  margin-bottom: 24px;
}

.company p:nth-child(2) {
  width: 400px;
  margin-bottom: 21px;
}

.transport-companies-list {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.transport-companies-list li {
  position: relative;
  margin-bottom: 20px;
}

.transport-companies-list li:nth-last-child(1) {
  margin-bottom: 36px;
}

.transport-companies-list li::before {
  content: "";

  position: absolute;
  left: -36px;
  top: 7px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company a {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.contacts a {
  margin-top: auto;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

p.contacts-paragraphe {
  width: 200px;
  margin-bottom: 31px;
}

.button {
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  padding-top: 11px;
  padding-bottom: 9px;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.company .button {
  padding-left: 40px;
  padding-right: 40px;
}


/*Страница каталога*/

ul.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 54px;
  margin-bottom: 20px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-breadcrumbs,
.tool-breadcrumbs {
  position: relative;
}

.catalog-breadcrumbs::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -55px;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-breadcrumbs::after {
  content: "";

  position: absolute;
  top: 2px;
  left: -25px;
  width: 7px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool-breadcrumbs::before {
  content: "";

  position: absolute;
  top: 2px;
  left: -22px;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool-breadcrumbs::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 98px;
  width: 7px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  margin-right: 40px;
  color: #000000;
  background-color: #ffffff;
}

h1.page-title-inner {
  padding: 30px 0px 29px 30px;
  margin-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters {
  width: 220px;
}

.filters h2 {
  padding: 0;
  margin: 0;
  padding: 10px 0px 10px 18px;
  margin-bottom: 11px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 0px;

  border: none;
}

.filter legend {
  position: relative;

  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter legend::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -17px;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter .price legend::before {
  display: none;
}

.filter .price-range-buttons {
  position: relative;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 0px 0px 5px 5px;
}

.price-range-buttons::before {
  content: "";

  position: absolute;
  left: 20px;
  top: 39px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.price-range-buttons::after {
  content: "";

  position: absolute;
  left: 20px;
  top: 39px;

  width: 140px;
  height: 2px;

  background-color: #00ca74;
}

button.min-price-button,
button.max-price-button {
  position: absolute;
  z-index: 1;

  width: 20px;
  height: 23px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

button.min-price-button {
  left: 20px;
  top: 30px;
}

button.max-price-button {
  right: 40px;
  top: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter .price ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 45px;
}

.price-wrap {
  position: relative;
}

.dash {
  position: absolute;
  left: 105px;
  top: 7px;

  width: 10px;
  height: 1px;
}

.filter .price input {
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;

  background-color: #f7f3ec;
  border-radius: 3px;
  border: none;
}

input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.manufacturers .filter-option:nth-last-child(1) {
  margin-bottom: 40px;
}

.nutrition .filter-option:nth-last-child(1) {
  margin-bottom: 78px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*.filter-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-button {
  padding: 9px 39px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:focus {
  border: 1px solid #ee3643;
}


/*Каталог*/

div.sorting-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  padding: 10px 0px 10px 18px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

ul.sorting-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 106px;
  list-style: none;
}

.sorting-item a {
  margin-left: 69px;

  color: #c4c1bb;
  background-color: #f7f3ec;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item a:focus,
.sorting-item a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:focus {
  color: #ee3643;
  border-bottom: none;
}

.sorting-direction a.up,
.sorting-direction a.down {
  position: absolute;
  border-bottom: none;
  opacity: 0.2;
}

.sorting-direction a.up {
  top: 4px;
  right: -57px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction a.down {
  top: 5px;
  right: -89px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction a.up:hover,
.sorting-direction a.down:hover,
.sorting-direction a.up:focus,
.sorting-direction a.down:focus {
  opacity: 1;
}

.sorting-direction a.up:focus {
  top: 4px;
  right: -57px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction a.down:focus {
  top: 5px;
  right: -89px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-current a.up,
.sorting-direction-current a.up:hover,
.sorting-direction-current a.up:focus {
  top: 4px;
  right: -57px;

  width: 11px;
  height: 10px;

  opacity: 1;

  background-image: url("../img/icon-up-dir-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog {
  width: 700px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*-webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;*/
  padding: 0;
  margin: 0;
  margin-bottom: 32px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:nth-child(2n) .flag-new,
.catalog-item:nth-child(1) .flag-new,
.catalog-item:nth-child(9) .flag-new {
  background: none;
}

.catalog-item .hidden {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.hidden .button-purchase,
.hidden .button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.hidden .button-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .hidden {
  display: none;
}

.catalog-item:hover .hidden {
  display: block;
}

.hidden .button-purchase:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.hidden .button-purchase:focus {
  background-color: #518534;
  border-color: #518534;
}

.hidden .button-bookmark:hover {
  border-color: #32425c;
}

.hidden .button-bookmark:focus {
  border-color: #32425c;
  opacity: 0.3;
}

a.catalog-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 25px;
  margin-top: 9px;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item-image {
  width: 219px;
  height: 170px;
  margin: 0;
}

.catalog-item-price {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-item-price b {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.old-price {
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price .hidden-price {
  visibility: hidden;
}

.new-price {
  position: relative;
  width: 80px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  display: block;
  width: 36px;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list li:nth-child(4) a {
  width: 138px;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.section-background {
  width: 100%;

  background-color: #f2f6f8;
}

.perforators-note-container {
  padding-top: 65px;
  padding-bottom: 55px;
}




/*Стили footer*/

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 0px;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-contacts {
  width: 330px;
}

.footer-down {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.menu-footer-navigation-white,
.menu-footer-navigation-yellow,
.footer-social {
  list-style: none;
}

.menu-footer-navigation-white a {
  color: #ffffff;
  background-color: #32425c;
}

.menu-footer-navigation-yellow a {
  color: #ffd180;
  background-color: #32425c;
}

.main-footer a:hover {
  text-decoration: underline;
}

.menu-footer-navigation-white a:focus {
  color: #a4abb4;
  background-color: #32425c;
  text-decoration: none;
}

.menu-footer-navigation-yellow a:focus {
  color: #ad956f;
  background-color: #32425c;
  text-decoration: none;
}

.footer-down a {
  color: #ffd180;
  background-color: #293449;
}

.footer-down a:focus {
  color: #ee3643;
  background-color: #293449;
  text-decoration: none;
}

.footer-social a {
  color: #ffffff;
}

.social-button-vk,
.social-button-f,
.social-button-inst {
  position: relative;
}

.social-button-vk::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 15px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 13px 7px;
  background-position: 50% 50%;
}

.social-button-f::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 46px;
  width: 12px;
  height: 22px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 9px 14px;
  background-position: 50% 50%;
}

.social-button-inst::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 92px;
  width: 20px;
  height: 20px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #212a3a;
  border-radius: 50%;
  padding: 10px 10px;
  background-position: 50% 50%;
}

.social-button-vk:hover::before,
.social-button-f:hover::before,
.social-button-inst:hover::before,
.social-button-vk:focus::before,
.social-button-f:focus::before,
.social-button-inst:focus::before {
  background-color: #ee3643;
}


/*Модальные окна
Общие стили*/

.modal {
  position: relative;

  background-color: white;
}

.modal-letter,
.modal-map,
.modal-cart-adding {
  position: fixed;

  top: 120px;
  left: 50%;
}


.modal-letter,
.modal-cart-adding {
  width: 620px;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
          box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  padding: 37px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background-color: #f4f4f4;
}

/*Форма на Главной "Напишите нам"*/

.modal-letter {
  display: none;
  margin-left: -310px;
  z-index: 100;
}

.letter-item-textarea textarea {
  margin-top: 18px;
}

.items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 47px 80px 35px 80px;
}

.letter-item {
  padding: 0;
  margin: 0;
  width: 220px;
}

.letter-item label {
  display: block;
  margin-bottom: 9px;
}

.letter-item-textarea label {
  margin-top: 21px;
  margin-bottom: -9px;
}

.letter-item input {
  width: 100%;
}

.letter-item textarea {
  width: 460px;
  resize: none;
}

.letter-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.letter-item textarea,
.letter-item input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.letter-item textarea::-webkit-input-placeholder,
.letter-item input::-webkit-input-placeholder {
    color: #a9a9a9;
   }

.letter-item textarea::-moz-placeholder,
.letter-item input::-moz-placeholder {
    color: #a9a9a9;
   }

.letter-form .button {
  padding-left: 198px;
  padding-right: 198px;
}

/*Модальное окно на Главной "Карта"*/

.modal-map {
  display: none;
  width: 940px;
  height: 447px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0px 16px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0px 16px rgba(47, 42, 43, 0.5);

  background-color: #eeeae3;
}

.modal-map p {
  margin: 0;
}

/*Модальное окно Каталога "Товар добавлен в корзину"*/

.modal-cart-adding {
  display: none;
  z-index: 100;
  margin-left: -310px;
}

.modal-cart-adding h2 {
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  margin-left: 180px;
}

.modal-cart-adding p {
  margin: 0;
}

.modal-cart-adding::before {
  content: "";

  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-area .button-red {
  padding-left: 61px;
  padding-right: 61px;
}

.button-area .button-white {
  color: #000000;
  background-color: #ffffff;
  padding-left: 46px;
  padding-right: 46px;
}

.button-area .button-white:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.button-area .button-white:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
